<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Submit Page!!</title>
  <meta name="description" content="random stuff">
  <meta name="author" content="Galvanize DSI">

</head>

<body>

    <h1>Submit a photo!</h1>
    <h3>(or borrow one of ours)</h3>
    <br>
    <a href="/">or return to the home page</a>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <span>I must find a way to let you submit a photo . . .</span>
        <br><br>
    <!--    <input id="submit_text"></input> -->

        <span>this is a span!:</span> <input id="42"></input>
        <br>
    </div>
    <br>
    <div>
        <button type="button">Predict Section</button>
        <form action = "/predict" method = "POST" >
          <input type = "text" name = "user_input" />
          <input type = "submit" />
        </form>
    </div>
  </body>
  </html>
