first_sample/
data/
metastore_db/
.ipynb_checkpoints/
*.pyc

CNW_webapp/app/static/img/
! CNW_webapp/app/static/img/ea_intro.jpg
! CNW_webapp/app/static/img/IDapp.jpg
CNW_webapp/app/static/tmp/
! CNW_webapp/app/static/tmp/bunny.JPG

derby.log
temp_photo.jpg
create_EC2.ipynb
