<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Wildlife ID</title>
  <meta name="Description" content="Wildlife Clasification Web App">
  <meta name="Author" content="Evan Adkins">

</head>

<body>

    <h1>Wildlife Identification</h1>
    <p>Classifying Wildlife in remote camera images</p>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <span>this is a span!:</span> <input id="42"></input>
        <br>
        <a href="/submit">Try it out! Identify Wildlife Images</a>
    </div>

    <div>
        <br>
        <button type="button">A Button!</button>
    </div>

    <div>
      <h2>About This Project:</h2>
      <p>add information here!!!</p>
    </div>
