<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Generic Page!!</title>
  <meta name="description" content="random stuff">
  <meta name="author" content="Galvanize DSI">

</head>

<body>

    <h1>The individual assignment page</h1>
    <p>this template will eventually be used somehow</p>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <span>this is a span named bob:</span> <input id="bob">does this show up?</input>

    </div>

    <div>
        <button type="button">A Button!</button>
    </div>
